<map id="fullSizeMap">
  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="17">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>
</map>

<app-customer-support-chat></app-customer-support-chat>

<div class="new-address">
  <div class="row">
    <div>
      <h2>Newbiz Torino:</h2>
      <address>
        Corso Moncalieri 51<br /> Cap 10133 Torino (TO)<br /> PI 10165870014<br /> Tel 011 19838186<br /> Fax 011 19837572<br
        />
      </address>
    </div>
    <div class="col-md-6">

    </div>
  </div>
  <div class="row">
    <address>
      <strong>Amministrazione:</strong><a href="mailto:amministrazione@newbizservizi.it"> amministrazione@newbizservizi.it</a>
      <br />
      <strong>Commerciale:</strong><a href="mailto:commerciale@newbizservizi.it"> commerciale@newbizservizi.it</a>
      <br />
      <strong>Assistenza tecnica:</strong><a href="mailto:assistenza@newbizservizi.it"> assistenza@newbizservizi.it</a>
      <br />
      <strong>Sviluppo:</strong><a href="mailto:sviluppo@newbizservizi.it"> sviluppo@newbizservizi.it</a>
      <br />
      <strong>Collaborazioni:</strong><a href="mailto:collaborazioni@newbizservizi.it"> collaborazioni@newbizservizi.it</a>
      <br />
    </address>
  </div>
</div>