.sebm-google-map-container {
  position: fixed;
  width: 100%;
  height: 100%;
}
.new-address{
    position: fixed;
    width: 400px;
    top: 60%;
    float: right;
    background-color: white;
    padding-left: 50px;
}