.sebm-google-map-container {
  position: fixed;
  width: 100%;
  height: calc(100% - 165px);
}
.new-address{
    position: fixed;
    width: 400px;
    margin-top: 50%;
    float: left;
    background-color: white;
    padding-left: 30px;
}
#contacts-footer{
    position: fixed; 
    bottom: 0px; 
    width: 100%;
}
