<img class="wwuImg" src="../../../assets/images/jumbo3.jpg" alt="">
<div class="container">
  
  <h2>Chi Siamo</h2>
  <p>
    Newbiz s.r.l. nasce nel 2009 dalla collaborazione di <strong>giovani imprenditori</strong> che, grazie alla loro pluriennale
    esperienza nel settore informatico, dell’igiene alimentare e della sicurezza sui luoghi di lavoro, hanno predisposto
    un <strong>NUOVO ed UNICO</strong> modo di percepire le normative di settore.
  </p>
  <p>
    Newbiz s.r.l., pertanto, non è una semplice azienda di consulenza ma un gruppo di professionisti che, integrando le proprie
    conoscenze informatiche ai settori dell’igiene alimentare e della Sicurezza sul lavoro, ha predisposto prodotti <strong>INNOVATIVI</strong>    che garantiscono di adempire a tutti gli obblighi previsti dalla normativa di settore in modo <strong>IMMEDIATO, SEMPLICE e SICURO</strong>.<br
    />
  </p>
  <p>
    Newbiz s.r.l., infatti, integra procedure interne, relative ai propri servizi, con applicazioni informatiche sempre più innovative
    con lo scopo di mirare all’ottimizzazione e semplificazione dei processi gravosi e burocraticizzati che distolgono dal
    proprio lavoro.
  </p>
  <p>
    I punti di forza dell’azienda sono rappresentati dallo sviluppo di due software:
  </p>
  <ul>
    <li>
      <strong>MIODOC</strong> che consente di archiviare ed avere sempre a disposizione tutta la documentazione necessaria
      ad ottemperare agli obblighi previsti dalla normativa di riferimento;
    </li>
    <li>
      <strong>AUTOCONTROLLO</strong> (<strong>per le registrazioni via WEB</strong>) che consente di effettuare ed archiviare
      le registrazioni quotidiane previste per il settore alimentare attraverso la digitazione di codici che consentono di
      snellire e rendere molto più veloce questa fase.
    </li>
  </ul>
  <p>
    Grazie all’utilizzo di questi semplici supporti informatici, pertanto, <strong>tutte le attività di qualsiasi settore riescono ad adempire con semplicità e accuratezza agli obblighi di legge</strong>.
  </p>
  <p>
    Inoltre, nell’ottica di crescita organica dei servizi, la Newbiz s.r.l. è in grado di offrire prestazioni che coprono tutte
    le competenze relative a obbligatorietà normative. Questa mentalità ha consentito alla Newbiz di diventare il referente
    unico dei propri clienti con l’evidente vantaggio di riuscire ad avere sempre una risposta alle innumerevoli esigenze
    e richieste. Le referenze dei numerosi clienti rappresentano il biglietto da visita dell’azienda.
  </p>
</div>