<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Informazioni aziendali</h5>
        <ul>
          <li class="grey-text text-lighten-4">Newbiz s.r.l.</li>
          <li class="grey-text text-lighten-4">Corso Moncalieri 51</li>
          <li class="grey-text text-lighten-4">CAP 10133 - Torino(TO)</li>
          <li class="grey-text text-lighten-4">Tel 011 19838186</li>
          <li class="grey-text text-lighten-4">Fax 011 19837572</li>
          <li class="grey-text text-lighten-4">Email: info@newbiz.it</li>
        </ul>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Contatti</h5>
        <ul>
          <li><a class="white-text" href="#!">Amministrazione: amministrazione@newbizservizi.it</a></li>
          <li><a class="white-text" href="#!">Commerciale: commerciale@newbizservizi.it</a></li>
          <li><a class="white-text" href="#!">Assistenza tecnica: assistenza@newbizservizi.it</a></li>
          <li><a class="white-text" href="#!">Sviluppo: sviluppo@newbizservizi.it</a></li>
          <li><a class="white-text" href="#!">Collaborazioni: collaborazioni@newbizservizi.it</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyrights by Newbiz s.r.l. - PI 10165870014
    </div>
  </div>
</footer>