<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Informazioni aziendali</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support
          and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Contatti</h5>
        <ul>
          <li><a class="white-text" href="#!">Amministrazione: amministrazione@newbizservizi.it</a></li>
          <li><a class="white-text" href="#!">Commerciale: commerciale@newbizservizi.it</a></li>
          <li><a class="white-text" href="#!">Assistenza tecnica: assistenza@newbizservizi.it</a></li>
          <li><a class="white-text" href="#!">Sviluppo: sviluppo@newbizservizi.it</a></li>
          <li><a class="white-text" href="#!">Collaborazioni: collaborazioni@newbizservizi.itt</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Newbiz s.r.l. - <a class="brown-text text-lighten-3">Corso Moncalieri 51, Torino(TO) - PI 10165870014</a>
    </div>
  </div>
</footer>