// .container{
//     padding-left: 0px;
// }
.new-img-logo{
    padding: 10px;
}
.new-position{
    position: relative;
    margin-top: 25px;
    margin-right: 10px;
    margin-left:10px;
    overflow:auto;
}
