<mz-navbar>
  <div class="nav-wrapper white">
    <a href="#!" [routerLink]="['/home']" class="brand-logo"><img class="new-img-logo" src="../../assets/images/logo_height40.png" alt="Newbiz-Logo"></a>
    <a [id]="'btn-sidenav-demo'" class="button-collapse"><i id="mobile-menu-icon" class="material-icons">menu</i></a>
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item>
        <a materialize="tooltip" data-position="bottom" data-delay="10" data-tooltip="Home" class="btn-floating btn-large waves-effect waves-light green new-position waves-light tooltipped"
          [routerLink]="['/home']">
          <i class="material-icons">home</i>
        </a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a materialize="tooltip" data-position="bottom" data-delay="10" data-tooltip="Contatti" class="btn-floating btn-large waves-effect waves-light green new-position waves-light tooltipped"
          [routerLink]="['/contacts']">
          <i class="material-icons">contact_phone</i>
        </a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a materialize="tooltip" data-position="bottom" data-delay="10" data-tooltip="Chi siamo" class="btn-floating btn-large waves-effect waves-light green new-position waves-light tooltipped"
          [routerLink]="['/about']">
          <i class="material-icons">store</i>
        </a>
      </mz-navbar-item>
      <mz-navbar-item *ngIf="!currentUser()">
        <a materialize="tooltip" data-position="bottom" data-delay="10" data-tooltip="Accesso" class="btn-floating btn-large waves-effect waves-light green new-position waves-light tooltipped"
          [routerLink]="['/login']">
          <i class="material-icons">system_update_alt</i>
        </a>
      </mz-navbar-item>
      <mz-navbar-item *ngIf="currentUser()">
        <a materialize="tooltip" data-position="bottom" data-delay="10" data-tooltip="Supporto" class="btn-floating btn-large waves-effect waves-light green new-position waves-light tooltipped" 
          [routerLink]="['/supportpage']">
          <i class="material-icons">forum</i>
        </a>
      </mz-navbar-item>
      <mz-navbar-item *ngIf="currentUser()">
        <a materialize="tooltip" data-position="bottom" data-delay="10" data-tooltip="Esci" (click)="logout()" class="btn-floating btn-large waves-effect waves-light green new-position waves-light tooltipped">
          <i class="material-icons">present_to_all</i>
        </a>
      </mz-navbar-item>
      
    </mz-navbar-item-container>
  </div>
</mz-navbar>