<app-customer-support-chat *ngIf="hideTheChatValue==false" id="chatDialog" (onEmitChatHide)="toggleChat()"></app-customer-support-chat>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2 new-big-text">La migliore soluzione per la tua attività</h1>
            <div class="row center">
                <h5 class="header col s12 light new-p-text">Un modo semplice e veloce per gestire tutte le normative obbligatorie</h5>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax">
        <img id="mainImage" src="../../assets/images/miodoc-home.jpg" alt="Unsplashed background img 1" style="width: 50%; margin-bottom:30px;">
    </div>
</div>


<div class="section">
    <div class="row">
        <div [routerLink]="['/haccp']" class="col s12 m3 hoverable">
            <div class="icon-block">
                <h2 class="center grey-text text-darken-2"><i class="fa fa-cutlery"></i></h2>
                <h5 class="center">HACCP</h5>
                <img md-card-image src="../../../assets/images/haccp.jpg" style="width: 100%">
                <p class="light">Redazione del manuale HACCP, consulenze tecniche sull’igiene alimentare, analisi microbiologiche, corsi per
                    almentaristi e molto altro.</p>
            </div>
        </div>

        <div [routerLink]="['/worksecurity']" class="col s12 m3 hoverable">
            <div class="icon-block">
                <h2 class="center grey-text text-darken-2"><i class="fa fa-shield"></i></h2>
                <h5 class="center">Sicurezza sul lavoro</h5>
                <img md-card-image src="../../../assets/images/sicurezza.jpg" style="width: 100%">
                <p class="light">Valutazione dei rischi, corsi sulla sicurezza compresi gruisti, montaggio ponteggi, mulettisti, piano di
                    evacuazione e redazione del POS e molto altro.</p>
            </div>
        </div>

        <div [routerLink]="['/medicine']" class="col s12 m3 hoverable new-card">
            <div class="icon-block">
                <h2 class="center grey-text text-darken-2"><i class="fa fa-ambulance"></i></h2>
                <h5 class="center">Medicina del lavoro</h5>
                <img md-card-image src="../../../assets/images/medicina.jpg" style="width: 100%">
                <p class="light">Nomina del medico competente, visite mediche quali alcool test, spirometria, audiometria, visio test, kit
                    di primo soccorso e molto altro.</p>
            </div>
        </div>

        <div [routerLink]="['/firesecurity']" class="col s12 m3 hoverable">
            <div class="icon-block">
                <h2 class="center grey-text text-darken-2"><i class="fa fa-fire-extinguisher"></i></h2>
                <h5 class="center">Antincendio</h5>
                <img md-card-image src="../../../assets/images/antincendio.jpg" style="width: 100%">
                <p class="light">Fornitura dei vari tipi di estintori: a polvere, CO2, schiuma e idrici; controlli semestrali e rispettive
                    revisioni; Fornitura cartellonistica sicurezza e molto altro.</p>
            </div>
        </div>
    </div>

</div>



<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="../../assets/images/miodoc-home-4.jpg" alt="Unsplashed background img 2"></div>
</div>


<div class="row center">
    <h1>MioDOC... il gestionale per te!</h1>
</div>
<div class="row">
    <div class="col s12 m3 new-miodoc-panel">
        <h2 class="center grey-text text-darken-2"><i class="fa fa-tablet"></i></h2>
        <h5 class="center">MioDOC sul tuo tablet...</h5>
        <p class="light">E' il nuovo modo, più tecnologico e pratico, per rispettare le normative sull'HACCP e sulla Sicurezza del lavoro.
        </p>
    </div>
    <div class="col s12 m3">
        <h2 class="center grey-text text-darken-2"><i class="fa fa-wifi"></i></h2>
        <h5 class="center">Tablet e connettività inclusi.</h5>
        <p class="light">Sarai sempre connesso ad internet con il Samsung Galaxy Tab 3 che ti forniremo e che sarà tuo al termine del contratto.</p>
    </div>
    <div class="col s12 m3">
        <h2 class="center grey-text text-darken-2"><i class="fa fa-archive"></i></h2>
        <h5 class="center">Tutto archiviato ONLINE</h5>
        <p class="light">Con MioDOC avrai l'archivio di tutti i tuoi documenti sul tablet anche se manca campo per connettersi ad internet.
        </p>
    </div>
    <div class="col s12 m3">
        <h2 class="center grey-text text-darken-2"><i class="fa fa-money"></i></h2>
        <h5 class="center">Paghi in piccole rate</h5>
        <p class="light">Potrai pagare l'intero importo dei servizi erogati attraverso un finanziamento che può durare fino a 36 mesi A TASSO
            0.
        </p>
    </div>
</div>
<div class="row center">
    <div class="shake-little shake-constant shake-constant--hover">
        <a class="btn-large waves-effect waves-light teal lighten-1" (click)="toggleVideo()" style="margin-bottom: 20px;">Guarda il video di MioDoc</a>
    </div>
</div>

<div *ngIf="hideMiodocVideo == false">
    <video id="mainVideo-complete" width="100%" controls autoplay>
        <source src="../../assets/video/MioDOC-complete.mp4" type="video/mp4">
        <source src="../../assets/video/MioDOC-complete.ogg" type="video/ogg"> Your browser does not support the video tag.
        <source src="../../assets/video/MioDOC-complete.webm" type="video/webm"> Your browser does not support the video tag.
    </video>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
    </div>
    <div class="parallax"><img src="../../assets/images/tablet_in_negozio.jpg" style="width: 100%" alt="Unsplashed background img 3"></div>
</div>

<button *ngIf="hideTheChatValue==true" id="pulse-chat" (click)="toggleChat()">Chat</button>