.chatpanel{
    position: fixed;
    width: 300px;
    float: right;
    margin-right: 20px;
    margin-top: 70%;
}
.avatar-right{
    height: 42px;
    width: 42px;
    float: right;
}
.avatar-left{
    height: 42px;
    width: 42px;
    float: left;
    margin-right: 10px;
}
.message-left{
    margin-top: 10px;
    margin-right: 40px;
    margin-left:10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.message-right{
    margin-top: 10px;
    margin-right: 10px;
    margin-left:40px;
}
.messageContainer{
    max-height: 300px;
    overflow: scroll;
}
.messageInfos{
    margin-top: 10px;
    margin-right: 10px;
    margin-left:10px;
    margin-bottom:-5px;
}
.input-group{
    border-radius: 0px;
}
.card-content{
    padding: 0px;
}
.panel   {
    border-radius: 0px;
}
.input-group{
    border-radius: 0px;
}

.panel-heading{
    border-radius: 0px;
}
.input-group{
    border-radius: 0px;
}
.fixed-chat{
    position: absolute;
    top: 15vw;
    width: 350px;
    left: 20px;
    overflow: hidden;
    z-index: 50;
    margin-right: 20px;
}