<img class="fullWidthImage" src="../../../assets/images/ServizioHACCP.jpg" alt="Servizi HACCP">

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>


<section>
  <article class="col-lg-11-col-md-11-col-sm-11">
    <h3 style="margin-top:0px">I servizi sull'HACCP in generale</h3>
    <p>Tenere aggiornata la documentazione relativa all’igiene alimentare della propria azienda, in funzione dei continui aggiornamenti
      legislativi in materia, è un compito delicato e spesso si rischia di incorrere in sanzioni molto “SALATE”. Per tale
      motivo, è sempre bene affidarsi ad aziende di consulenza specializzate. In tal senso la Newbiz s.r.l., azienda leader
      nel settore, è in grado di fornire ai propri clienti tutte le informazioni ed i servizi necessari ad ottemperare, in
      modo sicuro e puntuale, a tutto quello che la normativa richiede. La Newbiz inoltre, grazie ai nuovi prodotti messi
      a punto, ha innovato il modo e la forma di interpretare l’igiene alimentare rendendo tale compito SEMPLICE E VELOCE.
      In particolare i servizi e i prodotti da noi offerti volti ad ottemperare a quanto suddetto sono:</p>
    <ul>
      <li>
        MioDOC;</li>
      <li>
        Consulenza sugli obblighi normativi in riferimento alle specifiche attività dell’azienda attraverso AUDIT di CONTROLLO presso
        la sede del cliente;</li>
      <li>
        Stesura manuale H.A.C.C.P. e rintracciabilità;</li>
      <li>
        Registrazioni automatizzate attraverso il servizio “H.A.C.C.P. telefonico” o attraverso il “servizio WEB”;</li>
      <li>
        Analisi microbiologiche;</li>
      <li>
        Corso di Formazione H.A.C.C.P. primo livello per titolari o per chi manipola alimenti;</li>
      <li>
        Corso di Formazione H.A.C.C.P. secondo livello per chi non manipola alimenti;</li>
      <li>
        Corso di Formazione sostituzione libretti sanitari 1° livello per titolari o per chi manipola alimenti;</li>
      <li>
        Corso di Formazione sostituzione libretti sanitari 2° livello per chi non manipola alimenti;</li>
      <li>
        Corso di aggiornamento Somministrazione alimenti e bevande.</li>
    </ul>
  </article>
</section>

